name = "cf-worker-template"
compatibility_date = "2022-02-02"
main = "dist/index.mjs"
workers_dev = false

[build]
command = "npm install && npm run build"

[env.dev]
name = "cf-worker-template"
workers_dev = true

# The below is used if you used miniflare directly but with wrangler 2 integrating miniflare there isn't much of a need for it.
[dev]
ip = "127.0.0.1"
